## Import all necessary modules

In [1]:
import math,os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Read data in "ExperimentalData" folder

In [6]:
# assign path and make a list of all files in directory
path, dirs, files = next(os.walk("./ExperimentalData/"))
file_count = len(files)
Files=[]

for i in range(len(dirs)):
    path, dis, files = next(os.walk("./ExperimentalData/"+dirs[i]))
    Files.append(files)
    file_count = file_count + len(files)

# create empty list
dataframes_list = []
 
# append datasets to the list (checks if it is CSV before doing so)
for k in range(len(dirs)):
    for i in range(len(Files[k])):
        if dirs[k] == 'AUTOCORRELATOR':
            with open('./ExperimentalData/'+dirs[k]+'/'+Files[k][i]) as file:
                for line in file:
                    if line.startswith("#"):
                        continue  
                    else:
                        data = line.strip().split("\t")
        elif dirs[k] == 'OSCILLOSCOPE':
            temp_df = pd.read_csv("./ExperimentalData/"+dirs[k]+"/"+Files[k][i])
            dataframes_list.append(temp_df)
        elif dirs[k] == 'OSA' and Files[k][i].endswith('.CSV'):
            data = []
            with open('./ExperimentalData/'+dirs[k]+'/'+Files[k][i]) as f:
                section = ''
                for line in f:
                    if line.strip() == '"[TRACE DATA]"':
                        section = 'data'
                    elif section == 'data':
                        data.append([float(x) for x in line.strip().split(',')])
            temp_df = pd.DataFrame(data, columns=['Wavelength', 'Intensity'])
            dataframes_list.append(temp_df)
        

# display datasets
for dataset in dataframes_list:
    display(dataset)

     Wavelength  Intensity
0     1850.0000    -69.867
1     1850.1001    -79.546
2     1850.2002    -71.213
3     1850.3003    -67.692
4     1850.4004    -68.438
..          ...        ...
995   1949.5996    -61.326
996   1949.6997    -61.495
997   1949.7998    -61.257
998   1949.8999    -61.359
999   1950.0000    -61.292

[1000 rows x 2 columns]

              in s   C1 in V
0    -2.400000e-07  0.005199
1    -2.398000e-07  0.002855
2    -2.396000e-07  0.000707
3    -2.394000e-07 -0.003395
4    -2.392000e-07 -0.007887
...            ...       ...
2395  2.390000e-07 -0.001832
2396  2.392000e-07 -0.001637
2397  2.394000e-07 -0.000855
2398  2.396000e-07 -0.000270
2399  2.398000e-07 -0.000270

[2400 rows x 2 columns]

In [13]:

with open('./ExperimentalData/AUTOCORRELATOR/50 ps autocorrelator at 750 mA 2.txt') as file:
    data=[]
    for line in file:
        if line.startswith("#"):
            continue  
        else:
            data = line.strip().split("\t")
           #data.append([float(x) for x in line.strip().split('\t')])

In [21]:
line.strip()

'-27.444971\t0.064303\t0.064570'

autocorrelator reading is readable but need to check for ".txt" 

RF reading (1000-o...) is readable but need cleaning

OSA reading is not readable because there are no commas in the first three lines

oscilloscope is no problemo!